<script>
    $(document).ready(function(){
        //fadeOut使用淡出效果，来加载
    $('.loading').fadeOut();
    {% if request.user.is_superuser %}
    // 循环每个li元素
      $("li").each(function(){
        if($(this).attr('id')){
            //block显示的意思，none为隐藏
            $(this).css('display','block');
        }
      });
      $("a").each(function(){
        if($(this).attr('id')){
            $(this).css('display','block');
        }
      });
      $("button").each(function(){
        if($(this).attr('id')){
            $(this).css('display','block');
        }
      });
    {% else %}
        $.get('/accounts/permission/get_user_permission/',function(data){
            if (data) {
                var obj = data.split(",");
                var x;
                for (x in obj) {
                  // $("a").each(function(){
                  //   if($(this).attr('id') == obj[x]){
                  //       $(this).css('display','block');
                  //   }
                  // });
                  $("li").each(function(){
                    if($(this).attr('id') == obj[x]){
                        $(this).css('display','block');
                    }
                  });
                  // $("button").each(function(){
                  //   if($(this).attr('id') == obj[x]){
                  //       $(this).css('display','block');
                  //   }
                  // });

                }
            }
        });
    {% endif %}
});
</script>

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    <div style="height: 60px">

    </div>
      <!-- Sidebar user panel (optional) -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" id="sidebar-menu">
        <li id="navi" style="display: none"><a href="{% url 'navi' %}"><i class="fa fa-link"></i> <span>站点导航</span></a></li>
        <li class="treeview" id="cmdb" style="display: none">
          <a href="#"><i class="fa fa-database"></i> <span>cmdb</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li id="host" style="display: block"><a href="{% url 'host' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;主机管理</span></a></li>
              <li id="idc" style="display: block"><a href="{% url 'idc' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;机房管理</span></a></li>
              <li id="group" style="display: block"><a href="{% url 'group' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;属组管理</span></a></li>
          </ul>
        </li>

        <li class="treeview" id="app_manage" style="display: none">
          <a href="#"><i class="fa fa-database"></i> <span>应用管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li id="certificate" style="display: block"><a href="{% url 'certificate' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;ssh密钥</span></a></li>
          </ul>
        </li>

        <li class="treeview" id="wiki" style="display: none">
          <a href="#"><i class="fa fa-database"></i> <span>wiki</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li id="article" style="display: block"><a href="{% url 'article' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;文章列表</span></a></li>
              <li id="article_type" style="display: block"><a href="{% url 'article_type' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;文章分类</span></a></li>
          </ul>
        </li>

       <li class="treeview" id="netdisk" style="display: none">
          <a href="#"><i class="fa fa-database"></i> <span>网盘</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
                <li id="file_manage" style="display: block"><a href="{% url 'folder' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;文件管理</span></a></li>
          </ul>
        </li>

        <li class="treeview" id="data_manage" style="display: none">
          <a href="#"><i class="fa fa-database"></i> <span>数据管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
                <li id="sync_data" style="display: block"><a href="{% url 'sync_data' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;同步数据</span></a></li>
          </ul>
        </li>


        <li class="treeview" id="accounts" style="display: none">
          <a href="#"><i class="fa fa-users"></i> <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li id="userlist" style="display: block"><a href="{% url 'user_list' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;用户管理</span></a></li>
            <li id="permlist" style="display: block"><a href="{% url 'permission_list' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;权限管理</span></a></li>
            <li id="rolelist" style="display: block"><a href="{% url 'role_list' %}"><span>&nbsp;&nbsp;&nbsp;&nbsp;角色管理</span></a></li>
          </ul>
        </li>
      </ul>


      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>